* {
  --icon-radius: 22px;
  --icon-size: 42px;
  --radius-cards: 8px;
  --radius-images: 6px;
}

.card {
  background-color: var(--card-backgroud);
  border-radius: var(--radius-cards);
  padding: 0 10px;
  border: var(--card-border);
  box-sizing: content-box;
}

.card:hover {
  background-color: var(--card-backgroud-hover);
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.image {
  margin-top: 10px;
  background-color: var(--image-background-color);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: calc((var(--radius-images)) + 2px);
}

.title {
  margin: 5px 0px;
  display: flex;
  align-items: center;
  font-size: 10pt;
  font-weight: 550;
  text-indent: 2px;
}

.cover-cards .image { aspect-ratio: 3/2 ; border: var(--image-border-color);}
.cover-cards .title { aspect-ratio: 6/1 ;}

.icon-cards .title { aspect-ratio: 6/1 ;}
.icon-cards .image { aspect-ratio: 6/5 ;}

.icon {
    height: var(--icon-size);
    width: var(--icon-size);
    border-radius: var(--icon-radius);
    padding: 10px;
    box-shadow: 0px 0px 70px #00000030;
    background: linear-gradient(rgb(255 255 255 / 48%), rgb(255 255 255 / 35%));
    border: 2px solid rgba(255,255,255,.2);
}

.filter:hover .icon{
    background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.6));
}

.filter {
  display: grid;
  place-items: center;
  /* height: 100%;
  width: 100%; */
  aspect-ratio: 4/3;
  margin-top: 10px;
  border-radius: var(--radius-images);
  overflow: hidden;
  box-sizing: border-box;
  backdrop-filter: blur(60px) brightness(0.8);
  -webkit-backdrop-filter: blur(40px);
  border: var(--image-border-color);
}

.card:hover .filter {
  backdrop-filter: blur(60px) saturate(1.1) brightness(1.1));
  -webkit-backdrop-filter: blur(50px) saturate(1.1) brightness(1.1);
}
