* {
  --icon-radius: 22px;
  --icon-size: 42px;
  --radius-cards: 8px;
  --radius-images: 6px;
}

/* Custom properties typées, pour animer le gradient */
@property --icon-g1 {
  syntax: "<color>";
  inherits: true;
  initial-value: rgba(255,255,255,0.0);
}
@property --icon-g2 {
  syntax: "<color>";
  inherits: true;
  initial-value: rgba(255,255,255,0.0);
}

.card {
  background-color: var(--card-backgroud);
  border-radius: var(--radius-cards);
  border: var(--card-border);
  box-sizing: content-box;
  transition: background-color 0.2s, box-shadow 0.2s;
  transition: box-shadow 0.4s cubic-bezier(0.22, 1, 0.36, 1)
}

.card:hover {
  background-color: var(--card-backgroud-hover);
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px,
    rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px,
    rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px,
    rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.image {
  background-color: var(--image-background-color);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: var(--radius-images) var(--radius-images) 0px 0px;
}

.title {
  padding-left: 6px;
  margin: 5px 0px;
  display: flex;
  align-items: center;
  font-size: 10pt;
  font-weight: 550;
  text-indent: 2px;
}

.cover-cards .image {
  aspect-ratio: 16/9;
  border-bottom: var(--image-border-color);
}
.cover-cards .title {
  aspect-ratio: 6/1;
}

.icon-cards .title {
  aspect-ratio: 6/1;
}
.icon-cards .image {
  aspect-ratio: 6/5;
}

.card .icon {
  height: var(--icon-size);
  width: var(--icon-size);
  border-radius: var(--icon-radius);
  padding: 8px;
  box-shadow: 65px 39px 100px 100px rgba(255, 255, 255, 0), 0px 0px 0px 1px rgba(255, 255, 255, 0.4);

  /* Valeurs de départ (optionnel, mais clair) */
  --icon-g1: rgba(255,255,255,0.6);
  --icon-g2: rgba(255,255,255,0.2);

  /* Gradient basé sur variables animables */
  background: linear-gradient(var(--icon-g1), var(--icon-g2));

  /* On transitionne les variables, pas le background */
  transition: --icon-g1 2s, --icon-g2, box-shadow 0.4s ease;
}

.card:hover .icon {
  --icon-g1: rgba(255,255,255,1);
  --icon-g2: rgba(255,255,255,.4);
  box-shadow: -65px -80px 80px 100px rgba(255, 255, 255, 0.3), 0px 0px 0px 1px rgba(255, 255, 255, .7);
}

.filter {
  background-color: #363636;
  display: grid;
  place-items: center;
  aspect-ratio: 4/3;
  border-radius: var(--radius-images) var(--radius-images) 0px 0px;
  overflow: hidden;
  box-sizing: border-box;
  border-bottom: var(--image-border-color);
  filter: saturate(1.1);
}
