header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: var(--card-border);
  margin-bottom: 4vh;
  padding: 4vh 0;
}

header h1{
  margin-bottom: 0px;
  margin-top: 0px;
}
