* {
  font-family: system-ui,
    -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  color: var(--text-color);
}

a {
  text-decoration: none;
}

body {
  background-color: var(--body-background-color);
  background-image: var(--body-background-image);
  padding: 3vw 10vw 10vw 10vw;
  margin: 0;
}

/* Hide scrollbars */
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}
