input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -999999px;
  width: 30px;
  height: 20px;
  background: var(--toggle-bg);
  display: block;
  border-radius: 100px;
  position: relative;
  transition: background var(--transition-normal);
}

label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 14px;
  height: 14px;
  background: var(--toggle-knob);
  border-radius: 100px;
  transition: left var(--transition-normal), transform var(--transition-normal);
}

input:checked+label {
  background: var(--toggle-bg-active);
}

input:checked+label:after {
  left: calc(100% - 3px);
  transform: translateX(-100%);
}
