#grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 1200px) {
  #grid {grid-template-columns: 1fr 1fr 1fr 1fr;}}

@media screen and (max-width: 900px) {
  #grid {grid-template-columns: 1fr 1fr 1fr;} }

@media screen and (max-width: 600px) {
  #grid {grid-template-columns: 1fr 1fr;} }
